﻿

<loading-animate></loading-animate>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2 class="form-login-heading">Login</h2>
        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="_userName" (keyup.enter)="clicked()" required autofocus>
        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="_password" (keyup.enter)="clicked()" required>

        <button class="btn btn-lg btn-info btn-block" type="submit" (click)="clicked()">Submit</button>
        <div *ngIf="_msg != ''" [ngClass]="(_success) ? 'alert alert-success' : 'alert alert-danger'">
            {{_msg}}
        </div>


    </div>
    <div class="col-md-4">
        <h2 class="form-login-heading">Social Logins</h2>
        <button class="btn btn-large btn-google btn-block" type="button" (click)="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>
        <!--<h2 class="form-login-heading">Social Logins</h2>
        <p>Or you can login using one of the social logins bleow</p>
        <button class="btn btn-large btn-facebook btn-block" type="button" (click)="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
        <button class="btn btn-large btn-google btn-block" type="button" (click)="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>
        <button class="btn btn-large btn-google btn-block" type="button" (click)="valueReturnTest()"><i class="fa fa-google-plus"></i> | Test+</button>-->
    </div>

    <div class="col-md-2">
         
    </div>
    
    
    
    
</div>
