﻿<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <table class="table table-striped  table-hover">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th>Title</th>

                    <th class="col-md-1">Start Date</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let answer of _answers;let i = index">
                    <td> <a [routerLink]="['/answer-detail/', answer.id]">{{i+1}}</a></td>
                    <td>answer for prayer {{answer.answerFor.title}}</td>

                    <td>{{answer.dateAnswered | date:'dd/MM/yyyy'}}</td>

                </tr>

            </tbody>
        </table>
        <br /><br />
        <!-- pager -->
        <ul *ngIf="_pager.pages && _pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:_pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:_pager.currentPage === 1}">
                <a (click)="setPage(_pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of _pager.pages" [ngClass]="{active:_pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:_pager.currentPage === _pager.totalPages}">
                <a (click)="setPage(_pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:_pager.currentPage === _pager.totalPages}">
                <a (click)="setPage(_pager.totalPages)">Last</a>
            </li>
        </ul>

    </div>
    <div class="col-md-2">

    </div>

</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 text-right">
        <button class="btn btn-success" (click)="addNewAnswer()">Create a new answer</button>
    </div>

    <div class="col-md-2">

    </div>
</div>