﻿<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="form-group">

            <span *ngIf="(_title!='')" id="title">Answer For : {{_title}} </span>
        </div>
        <div class="form-group">
            <label for="type">AnswerType:</label>
            <select id="type" class="form-control" [(ngModel)]="_type" required>
                <option value="" selected>Select Type</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
                <option value="3">Wait</option>
            </select>

        </div>
        <div class="form-group">
            <label for="notes">Notes:</label>
            <textarea rows="10" class="form-control" [(ngModel)]="_notes" id="notes"></textarea>
        </div>


    </div>
    <div class="col-md-2">

    </div>

</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <!--<button class="btn btn-primary">Record Answer</button>
        <button class="btn btn-danger" (click)="deletePrayerData()">Delete this prayer</button>-->

    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-success" (click)="addAnswerData()">Save</button>

    </div>
    <div class="col-md-2">

    </div>

</div>
<div class="col-md-2">

</div>
<div class="col-md-8">
    <div *ngIf="_msg != ''" [ngClass]="(_success) ? 'alert alert-success' : 'alert alert-danger'">
        {{_msg}}
    </div>
</div>
<div class="col-md-2">

</div>
