﻿
<div class="container">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2 class="form-login-heading">Register</h2>
            <input type="text" class="form-control" [(ngModel)] ="_username" placeholder="Username" required autofocus/>
            <input type="text" class="form-control" [(ngModel)]="_email" placeholder="Email" required />
            
            <input type="password" class="form-control" [(ngModel)]="_password" placeholder="Password" required />
            <input type="password" class="form-control" [(ngModel)]="_confirmPassword" placeholder="Confirm Password" required />

            
            <div class="checkbox">
                <label>
                    <input type="checkbox"><strong> Use Refresh Tokens</strong>
                </label>
            </div>
            <button class="btn btn-lg btn-info btn-block" type="submit"  (click)="clicked()">Submit</button>
            <div *ngIf="_msg != ''" [ngClass]="(_success) ? 'alert alert-success' : 'alert alert-danger'">
                {{_msg}}
            </div>
        </div>
        
        <div class="col-md-4">
            
        </div>

        <div class="col-md-2">
            &nbsp;
        </div>
    </div>


</div>