﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="btn btn-success navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <a class="navbar-brand" href="#/">Home</a>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar" >
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/home']" routerLinkActive="active">home</a>
                </li>

                <!--<li>
                    <a [routerLink]="['/dummy']" routerLinkActive="active">dummy</a>
                </li>-->
                <li *ngIf="_authStatus.isAuth"><a href="#">Welcome {{_authStatus.userName}}</a></li>
                <li *ngIf="_authStatus.isAuth"><a [routerLink]="['/prayers']">Prayers </a></li>
                <li *ngIf="_authStatus.isAuth"><a [routerLink]="['/answers']">Answers </a></li>
                <li *ngIf="_authStatus.isAuth"><a href="" (click)="logOut()">Logout</a></li>
                <li *ngIf="!_authStatus.isAuth"> <a [routerLink]="['/login']">Login</a></li>
                <li *ngIf="!_authStatus.isAuth"> <a [routerLink]="['/register']">Register</a></li>

              
            </ul>
        </div>

    </div>
</div>
<div class="jumbotron">
    <div class="container">

        

        <router-outlet></router-outlet>
    </div>
</div>
