﻿<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <table class="table table-striped  table-hover">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th>Title</th>

                    <th class="col-md-1">Start Date</th>
                    <th class="col-md-1">Answer</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prayerWithAnswer of _prayers;let i = index">
                    <td> <a [routerLink]="['/prayer-detail/', prayerWithAnswer.prayer.id]">{{i+1}}</a></td>
                    <td>{{prayerWithAnswer.prayer.title}}</td>

                    <td>{{prayerWithAnswer.prayer.dateStarted | date:'dd/MM/yyyy'}}</td>
                    <td><a *ngIf="prayerWithAnswer.answer" [routerLink]="['/answer-detail/', prayerWithAnswer.answer.id]">Answer</a></td>

                </tr>

            </tbody>
        </table>
        <br /><br />
        <!-- pager -->
        <ul *ngIf="_pager.pages && _pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:_pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:_pager.currentPage === 1}">
                <a (click)="setPage(_pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of _pager.pages" [ngClass]="{active:_pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:_pager.currentPage === _pager.totalPages}">
                <a (click)="setPage(_pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:_pager.currentPage === _pager.totalPages}">
                <a (click)="setPage(_pager.totalPages)">Last</a>
            </li>
        </ul>

    </div>
    <div class="col-md-2">

    </div>

</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8 text-right">
        <button class="btn btn-success" (click)="addNewPrayer()">Create a new prayer</button>
    </div>

    <div class="col-md-2">

    </div>
</div>