﻿<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" [(ngModel)]="_title" id="title">
        </div>
        <div class="form-group">
            <label for="notes">Notes:</label>
            <textarea rows="10" class="form-control" [(ngModel)]="_notes" id="notes"></textarea>
        </div>


    </div>
    <div class="col-md-2">

    </div>

</div>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <button *ngIf="!_answerExist" [disabled]="_answerExist"  class="btn btn-primary" (click)="addAnswer()" >Record Answer</button>
        <a *ngIf="_answerExist" [routerLink]="['/answer-detail',_answer.id]">Link to answer</a>
        <button class="btn btn-danger" (click)="deletePrayerData()">Delete this prayer</button>
        
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-success" (click)="editPrayerData()">Save</button>

    </div>
    <div class="col-md-2">

    </div>

</div>
<div class="col-md-2">

</div>
<div class="col-md-8">
    {{_msg}}
</div>
<div class="col-md-2">

</div>
