﻿<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <h3>Associate your {{_registerData.provider}} Account</h3>
        <hr />
        <p class="text-success">You have successfully autheticated with <strong>{{_registerData.provider}} </strong>. Please enter a user name below for this site and click the Register button to log in.</p>
        <div class="row">
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" [(ngModel)]="_userName" required autofocus>
                    <button class="btn btn-sm btn-info btn-block" type="button" style="margin-top:10px;" (click)="registerExternal()">Register</button>
                </div>
                <div *ngIf="_msg != ''" [ngClass]="(_success) ? 'alert alert-success' : 'alert alert-danger'">
                    {{_msg}}
                </div>
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
    
</div>
